.parl-chart {
  border: 1px solid #ccc;
  max-width: 540px;
  height: 344px;
}

.chart-inner {
  border: 1px solid #dcc;
}


.chart-bar-left {
  fill: #669;
}
.chart-bar-right {
  fill: #966;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #555;
}
.axis text {
  font-size: 11px;
}
