body {
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  max-width: 800px;

}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.col {
  width: 50%;
  text-align: center;
}

.pop-chart {
  height: 400px;
}

.grid line {
  stroke: #eee;
  shape-rendering: crispEdges;
}
.grid path {
  display: none;
}


.chart__bar {
  shape-rendering: crispEdges;
  fill: #000;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #ccc;
}
.axis text {
  font-size: 11px;
}
