.parl-chart {
  border: 1px solid #ccc;
  max-width: 800px;
  height: 400px;
}

.chart__inner {
  border: 1px solid #dcc;
}


.chart__bar {
  shape-rendering: crispEdges;
}
.chart__bar--left {
  fill: #669;
}
.chart__bar--right {
  fill: #966;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #555;
}
.axis text {
  font-size: 11px;
}
